* {
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      font-family: pp mori;
}



nav {
      /* border: 2px solid green; */
      height: 4vmax;
      display: flex;
      position: sticky;
      top: 0;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px rgba(79, 72, 72, 0.164);
      background-color: white;
      z-index: 10;
}

.left {
      /* border: 2px solid slateblue; */
      width: 20%;
      display: flex;
      justify-content: center;
}

.left>a {
      text-decoration: none;
      color: salmon;
      font-size: 2vmax;
      /* border: 2px solid green; */
      width: 5vmax;
}

.mid {
      /* border: 2px solid greenyellow; */
      width: 60%;
      display: flex;
      /* border: 2px solid orange; */

      justify-content: space-evenly;

      align-self: stretch;
}

.mid>a {
      width: 100%;
      text-decoration: none;
      color: black;
      font-size: 1.4vmax;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      /* border: 2px solid green; */
      display: flex;
      justify-content: center;
      align-items: center;


}

.mid>a:hover {
      color: salmon;
      border-bottom: 2px solid salmon;
}

.right {
      /* border: 2px solid violet; */
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.right>img {
      width: 2vmax;
      margin: 2vmax;
}

.home {
      height: 90vh;
      /* border: 2px solid black; */
      display: flex;
      background-image: linear-gradient(to right, rgb(230, 230, 222), rgb(230, 230, 222));
}

.container {

      /* border: 2px solid pink; */
      height: 100vh;
      width: 100vw;
}

#rightcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 2px solid black; */

}

#rightcontainer>img {
      filter: drop-shadow(0 0 10px black);
      display: flex;
      margin-right: 1vmax;
      height: 60vh;
      width: 40vw;

}

#leftcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* border: 2px solid red; */
      padding: 3vmax;
      box-sizing: border-box;

}

#leftcontainer>h1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 4vmax;
      font-family: sans-serif;

}

#leftcontainer>h2 {
      font-size: 2vmax;
      font-family: sans-serif;
      margin-top: 1vmax;
      margin-left: 1%;

}

#leftcontainer>p {

      font-size: 1.4vmax;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 2vmax;
      margin-left: 4%;
}

#leftcontainer>button {
      display: flex;
      width: 15vw;
      height: auto;
      padding: 0.8vmax;
      /* border-radius: 2vmax; */
      margin-top: 2vmax;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(247, 11, 58);
      color: white;
      cursor: pointer;
}

#leftcontainer>button:hover {

      display: flex;
      width: 15vw;
      height: auto;
      padding: 0.8vmax;
      /* border-radius: 2vmax; */
      margin-top: 2vmax;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      box-shadow: 5px 5px 5px rgb(75, 71, 71);
      background-color: white;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



/* ----------------------------------------------------------- */


#products>h1 {

      text-align: center;
      border-bottom: 5px solid salmon;
      margin: 5vmax auto;
      font-size: 2.5vmax;
      width: 25vw;
      padding: 1vmax;
}

.productsContainer {
      display: flex;
      /* background-color: aquamarine; */
      flex-wrap: wrap;
      height: 100%;
      max-width: 80vw;
      margin: auto;
      /* border: 2px solid red; */
      justify-content: center;
      margin: 4vmax;
}


.product {
      height: 30vmax;
      transition: all 0.3s;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1.2vmax;

}

.product:hover {
      transform: translateY(-10px);
}

.product>img {
      /* border: 2px solid red; */
      width: 20vmax;
      height: 25vmax;
}

.product>h4 {
      margin: 1vmax;
}

.product>h5 {
      margin: 0;
      margin-right: 1.7vmax;
}

/* ------------------------footer-------------------------------------- */
footer {
      display: flex;
      width: 98.5vw;
      height: auto;
      background-color: rgba(0, 0, 0, 0.137);
      align-items: center;
      justify-content: center;


}

.leftfooter {
      width: 30%;
      /* border: 2px solid red; */
      display: flex;
      align-items: center;
      flex-direction: column;

      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leftfooter>p>a {
      display: flex;
}

.leftfooter>h4 {
      margin-top: 1vmax;
}

.leftfooter>img {
      width: 5vmax;
      margin: 1vmax;
      cursor: pointer;
}

.midfooter {
      width: 60%;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.midfooter>h1 {
      cursor: pointer;
      color: salmon;
      display: flex;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
}

.midfooter>p {
      font-size: large;
      margin: 1vmax;
      display: flex;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rightfooter {
      width: 20%;
      align-items: center;
      justify-content: center;

}

.rightfooter>h4 {
      color: white;
      font-weight: 900;

      text-decoration: underline;
      font-size: xx-large;
}

.rightfooter h4,
a {
      margin: 1vmax;

      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
}